.panel-container {
  position: relative;
}

.bg-image {
  z-index: 1;
  max-width: 100%;
  height: auto;
}

.panel-container h1 {
  font-family: 'Open Sans', sans-serif;
  z-index: 2;
  position: absolute;
  font-size: 48px;
  top: 30%;
  left: 0;
  right: 0;
  width: 33%;
  height: 26px;
  padding: 0;
  margin: 0 auto;
  margin-top: -13px; /* 1/2 height */
  text-align: center;
  color: white;
  text-shadow: 0 0 12px rgba(30, 38, 44, 0.4);
}

.panel-container h2 {
  font-family: 'Open Sans', sans-serif;
  z-index: 2;
  position: absolute;
  font-size: 36px;
  top: 30%;
  left: 0;
  right: 0;
  width: 33%;
  height: 26px;
  padding: 0;
  margin: 0 auto;
  margin-top: -13px; /* 1/2 height */
  text-align: center;
  color: white;
  text-shadow: 0 0 12px rgba(30, 38, 44, 0.4);
}

.panel-container h3 {
  font-family: 'Open Sans', sans-serif;
  z-index: 2;
  position: absolute;
  font-size: 24px;
  top: 36%;
  left: 0;
  right: 0;
  width: 26%;
  height: 26px;
  padding: 0;
  margin: 0 auto;
  margin-top: -13px; /* 1/2 height */
  text-align: center;
  color: white;
  text-shadow: 0 0 12px rgba(30, 38, 44, 0.4);
}
